/client/.sencha/.cvsignore
/.idea/.gitignore
/client/.sencha/.gitignore
/client/.sencha/app/app.defaults.json
/.idea/dictionaries/bakum.xml
/client/.sencha/app/Boot.js
/client/.sencha/app/bootstrap-impl.xml
/client/.sencha/app/build.properties
/client/.sencha/app/build-impl.xml
/client/.sencha/app/codegen.json
/.idea/codeStyles/codeStyleConfig.xml
/client/.sencha/app/cordova.defaults.properties
/client/.sencha/app/cordova-impl.xml
/client/.sencha/app/defaults.properties
/client/.sencha/app/development.defaults.properties
/client/.sencha/app/development.properties
/server/download/doc3000016033172.zip
/client/.sencha/app/ext.properties
/client/.sencha/app/find-cmd-impl.xml
/client/.sencha/app/init-impl.xml
/client/.sencha/app/js-impl.xml
/.idea/jsLibraryMappings.xml
/.vscode/launch.json
/client/.sencha/app/Microloader.js
/.idea/misc.xml
/.idea/modules.xml
/client/.sencha/app/native.defaults.properties
/client/.sencha/app/native.properties
/OptimusDocs.code-workspace
/.idea/OptimusDocs.iml
/client/.sencha/app/package.defaults.properties
/client/.sencha/app/package.properties
/client/.sencha/app/packager-impl.xml
/client/.sencha/app/page-impl.xml
/client/.sencha/app/phonegap.defaults.properties
/client/.sencha/app/phonegap-impl.xml
/client/.sencha/app/plugin.xml
/client/.sencha/workspace/plugin.xml
/client/.sencha/app/production.defaults.properties
/client/.sencha/app/production.properties
/client/.sencha/app/refresh-impl.xml
/client/.sencha/app/resolve-impl.xml
/client/.sencha/app/resources-impl.xml
/client/.sencha/app/sass-impl.xml
/client/.sencha/app/sencha.cfg
/client/.sencha/workspace/sencha.cfg
/client/.sencha/app/slice-impl.xml
/.idea/terminal.xml
/client/.sencha/app/testing.defaults.properties
/client/.sencha/app/testing.properties
/.idea/vcs.xml
/client/.sencha/app/watch-impl.xml
/.idea/watcherTasks.xml
